.add-product {
  box-sizing: border-box;
  width: 100%;
  height: 80vh;
  max-width: 800px;
  padding: 30px 50px;
  margin: 20px auto;
  background: #fff;
  border-radius: 6px;
}
.add-product-itemfield {
  width: 100%;
  color: #7b7b7b;
  font-size: 16px;
}
.add-product-itemfield p {
  font-size: 18px;
  font-weight: 600;
}
.add-product-itemfield input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding-left: 15px;
  outline: none;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
  color: #7b7b7b;
  font-family: "Poppins", sans-serif;
}

.add-product-price {
  display: flex;
  gap: 40px;
}

.add-product-selector {
  padding: 10px;
  width: 100%;
  height: 50px;
  font-size: 14px;
  color: #7b7b7b;
  border: 1px solid #c3c3c3;
  border-radius: 4px;
}
option {
  font-size: 18px;
  padding: 10px 20px;
}
.add-product-thumbnail-img {
  height: 120px;
  width: 120px;
  border-radius: 10px;
  object-fit: contain;
  margin: 0px 0px 10px 0px;
}

.add-product-btn {
  width: 40%;
  margin: 20px 0;
  height: 50px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .add-product {
    width: auto;
    padding: 30px;
    margin: 20px;
    height: auto;
  }
  .add-product-price {
    flex-direction: column;
    gap: 20px;
  }
  .add-product-selector {
    width: 100%;
  }
  .add-product-btn {
    width: 100%;
  }
}
