.navbar {
  display: flex;
  justify-content: space-around;
  padding: 16px;
  background-color: rgb(3, 3, 3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #656056;
}
.nav-logo-img {
  width: 60px;
}

.nav-logo p {
  font-size: 35px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 400;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  font-size: 20px;
  font-weight: 500;
}

.nav-menu li {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-menu li hr {
  border: 2px solid #b5a68a;
  animation: slideIn 0.5s forwards;
}
@keyframes slideIn {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
.nav-menu-link {
  text-decoration: none;
  color: #7a7a7a;
}

.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background-color: rgb(255, 250, 244);
}
.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}
.nav-login-cart .nav-login-btn {
  width: 157px;
  height: 58px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 600;
  border: 3px solid #b5a68a;
  cursor: pointer;
  color: #b5a68a;
}
.nav-login-cart .nav-login-btn:hover {
  transform: scale(1.05);
}
.nav-cart-icon {
  color: #ebdfc8;
  transform: scale(3);
}

.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -15px;
  margin-left: 20px;
  border-radius: 11px;
  text-decoration: none;
  z-index: 100;
  font-size: 14px;
  font-weight: 500;
  background: #b5a68a;
  color: rgb(1, 1, 1);
}
