.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  box-shadow: 0 1px 10px -2px #000;
  background: #fff;
  margin-bottom: 1px;
}

.nav-name {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.nav-name div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  justify-content: center;
}
.nav-brand {
  text-transform: uppercase;
  font-weight: 600;
  color: #000;
  margin: 0%;
  padding: 0%;
}
.nav-panel {
  font-size: 20px;
  color: #000;
  margin: 0%;
  padding: 0%;
}
.nav-logo {
  width: 70px;
}
@media (max-width: 800px) {
  .navbar {
    padding: 15px 20px;
  }
  .nav-logo {
    width: 50px;
  }
  .nav-brand {
    font-size: 16px;
  }
  .nav-panel {
    font-size: 12px;
  }

  .nav-profile {
    width: 50px;
  }
}
