.hero {
  height: 100vh;
  background: linear-gradient(#b5a68a, #fff6e5);
  display: flex;
  margin-bottom: 10px;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 180px;
  line-height: 1.1;
  text-transform: uppercase;
}

.hero-left h2 {
  color: #090909;
  font-size: 26px;
  font-weight: 600;
  margin-top: 0;
}

.hero-left p {
  color: #171717;
  font-size: 80px;
  font-weight: 600;
  letter-spacing: 3px;
}

.hero-latest-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 310px;
  height: 70px;
  border-radius: 15px;
  margin-top: 30px;
  border: 4px solid rgb(2, 2, 2);
  color: rgb(2, 2, 2);
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}
.hero-latest-btn .arrow {
  width: 50px;
}
.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-right img {
  width: 90%;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 1));
  filter: brightness(0.8);
}
